---
import Button from "../components/ui/Button.astro";
---

<main class="flex flex-col md:flex-row-reverse items-center justify-center container mx-auto mt-9 gap-x-10">
    <img class="w-[215px] md:w-[400px]" src="/main/connected-pcs.png" />
    <div class="flex flex-col items-center md:items-start">
        <h1 class="font-bold text-[40px] md:text-[58px] text-brand-blue">Digital Partners</h1>
        <p class="text-[22px] md:text-[38px] text-brand-blue font-light text-center md:text-left mt-3">
            Somos la extensión de tu<br/>equipo para evolucionar con<br/>tecnología tu negocio
        </p>
        <p class="text-[16px] md:text-[24px] font-extrabold text-brand-gray text-center md:text-left mt-5">Recursos pensados especialmente para<br/>las necesidades de tu empresa</p>
        <div class="flex flex-col md:flex-row mt-7 gap-y-4 md:gap-x-4">
            <Button variant="primary">Cotizá tu proyecto</Button>
            <Button variant="secondary">Enviar mensaje</Button>
        </div>
    </div>
</main>